body{
    background-image: url('/DragonHack2022/animal_danger_detection/images/background_road.jpg');
}

canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);             
}